<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSaveBank(bankForm)" #bankForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
          <input
            matInput
            type="text"
            name="name"
            [ngModel] = "bank?.name"
            required
            minlength="3"
            #name="ngModel"
            placeholder="Bank Name">
            <mat-error *ngIf="name.invalid">Please enter a bank name.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea
            matInput
            rows="6"
            name="value"
            [ngModel] = "bank?.value"
            required
            #value="ngModel"
            placeholder="Bank Value"></textarea>
            <mat-error *ngIf="value.invalid">Please enter a bank value.</mat-error>
        </mat-form-field>
        <button
          mat-raised-button
          color="accent"
          type="submit">Save Bank</button>
  </form>

</mat-card>
