<mat-accordion multi="true" *ngIf="banks.length > 0">
  <mat-expansion-panel *ngFor="let bank of banks">
    <mat-expansion-panel-header>
      {{bank.name}}
    </mat-expansion-panel-header>
    <p>{{bank.value}}</p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit',bank.id]">Edit</a>
      <button mat-button color="warn" (click)="onDelete(bank.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf= "banks.length <= 0">No banks added yet!</p>
